extends layout

doctype
html( lang="en" )

block content
  h1= title
  <!-- p Welcome to #{title} -->
  p Road Sign Manager is a Code4Good at Yale, MakeHaven and New Haven collaborative project to create a cloud platform that can convert and send data to electronic road signs in the city. The project is developed by a team of student developers.

