extends layout

block content
  h1 #{title}
  p Road Sign Manager is a Code4Good at Yale, MakeHaven and New Haven collaborative project to create Road Sign Manager, a cloud platform that converts and sends data to electronic road signs in New Haven city. The project is developed by a team of student developers.
  h2 Technical Team Lead
  ul.list-group
    li.list-group-item Eugene Lim
  br
  h2 Developers
  ul.list-group
    li.list-group-item Annie Zhou
    li.list-group-item Benjamin Rosand
    li.list-group-item Isabella Teng
    li.list-group-item Nadia Irwanto
    li.list-group-item Yi Chern Tan

