extends layout

block content
  h1 #{title}
  p Welcome to Road Sign Manager, a cloud platform that converts and sends data to electronic road signs in New Haven city.
  p To begin, select a mode under the 'Message' tab and enter your message.
