extends layout

block content
  h1 #{title}
  p Welcome to #{title}. Please enter your manual input for the road sign. It must be a binary string of length 2592.
  include flashes
  form(action='/message/manual', method='post')
    .form-group
      label(for='message') Message
      textarea.form-control(rows='5', id='message', name='message', placeholder='Enter your manual message')
    button.btn.btn-primary(type='submit') Submit
    | #{' '}
    button.btn.btn-default(type='button', id='preview-btn', onclick='preview(event)') Preview
  h2 Display
  div#display

  script.
    var preview = function(event) {
      event.preventDefault()
      var message = document.getElementById('message').value
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4) {
          if (xhttp.status == 200) {
            var response = JSON.parse(this.responseText)
            previewDisplay(response.message)
          } else {
            var response = JSON.parse(this.responseText)
            alert("Unable to preview");
          }
        }
      };
      xhttp.open('POST', '/message/preview', true);
      xhttp.setRequestHeader('Content-Type', 'application/json');
      xhttp.send(JSON.stringify({message: message, mode: 0}));
    }
  script.
    var previewDisplay = function(message) {
      var display = document.getElementById('display')
      while (display.hasChildNodes()) {
        display.removeChild(display.lastChild)
      }
      var bitArray = message.split('').map(Number)
      var display = document.getElementById('display')
      bitArray.forEach(function(element) {
        var cell = document.createElement('div')
        cell.className = element == 1 ? 'on' : 'off'
        display.appendChild(cell)
      })
    }
