extends grid

block content
  h1= title
  p Welcome to #{title}

  form(action='/message/text', method='post')
    .container
      .row
        .col-sm
          input(id='message',name='message',type='text',value='',placeholder='@')
        .col-sm
          input(type='submit',value='Submit')
