extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/message/text', method='post')
     textarea(rows='5',cols='50',id='message',name='message',type='text',value='',placeholder='@')
     br
     input(type='submit',value='Submit')
