extends layout

block content
  h1= title
  p Welcome to #{title}. Please enter your text input. For readability, capital letters are recommended. Any line longer than 12 characters will be cut off.
  include flashes
  form(action='/message/text', method='post')
     textarea(rows='1',cols='50',id='message1',name='message1',type='text',value='',placeholder='Line 1')
     br
     textarea(rows='1',cols='50',id='message2',name='message2',type='text',value='',placeholder='Line 2 (optional)')
     br
     input(type='submit',value='Submit')
