extends layout

block content
  h1 #{title}
  p Welcome to #{title}. Please enter your image URL for the road sign. Any pixel other than white or transparent will turn on its corresponding pixel on the road sign.
  include flashes
  form(action='/message/image', method='post')
    .form-group
      label(for='message') Image URL
      input.form-control.col-sm-4(id='message', name='message', type='text', placeholder='Enter your image URL')
    button.btn.btn-primary(type='submit') Submit
    button.btn.btn-primary(type='button', id='preview-button', onclick='preview(event)') Preview
  h2 Display
  div#display
  h2 Message
  p#message

  script.
    var preview = function(event) {
      event.preventDefault()
      var message = document.getElementById('message').value
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4) {
          if (xhttp.status == 200) {
            var response = JSON.parse(this.responseText)
            previewDisplay(response.message)
          } else {
            var response = JSON.parse(this.responseText)
            alert(response.errors);
          }
        }
      };
      xhttp.open('POST', '/message/preview', true);
      xhttp.setRequestHeader('Content-Type', 'application/json');
      xhttp.send(JSON.stringify({message: message, mode: 2}));
    }
  script.
    var previewDisplay = function(message) {
      document.getElementById('message').innerText = message
      var display = document.getElementById('display')
      while (display.hasChildNodes()) {
        display.removeChild(display.lastChild)
      }
      var bitArray = message.split('').map(Number)
      var display = document.getElementById('display')
      bitArray.forEach(function(element) {
        var cell = document.createElement('div')
        cell.className = element == 1 ? 'on' : 'off'
        display.appendChild(cell)
      })
    }
