extends layout

block content
  h1 #{title}
  p Welcome to #{title}. Please enter your text input. For readability, capital letters are recommended. Any line longer than 12 characters will be cut off.
  include flashes
  form(action='/message/text', method='post')
    .form-group
      label(for='line1') Line 1
      input.form-control.col-sm-3(id='line1', name='line1', type='text', columns='5' placeholder='Line 1')
    .form-group
      label(for='line2') Line 2
      input.form-control.col-sm-3(id='line2', name='line2', type='text', placeholder='Line 2 (optional)')
    button.btn.btn-primary(type='submit') Submit
    button.btn.btn-primary(type='button', id='preview-button', onclick='preview(event)') Preview
  h2 Display
  div#display

  script.
    var preview = function(event) {
      event.preventDefault()
      var line1 = document.getElementById('line1').value
      var line2 = document.getElementById('line2').value
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4) {
          if (xhttp.status == 200) {
            var response = JSON.parse(this.responseText)
            console.log(response.errors)
            previewDisplay(response.message)
          } else {
            var response = JSON.parse(this.responseText)
            alert(response.errors);
          }
        }
      };
      xhttp.open('POST', '/message/preview', true);
      xhttp.setRequestHeader('Content-Type', 'application/json');
      xhttp.send(JSON.stringify({line1: line1, line2: line2, mode: 1}));
      console.log("readyState == " + this.readyState);
    }

    var previewDisplay = function(message) {
      var display = document.getElementById('display')
      while (display.hasChildNodes()) {
        display.removeChild(display.lastChild)
      }
      var bitArray = message.split('').map(Number)
      var display = document.getElementById('display')
      bitArray.forEach(function(element) {
        var cell = document.createElement('div')
        cell.className = element == 1 ? 'on' : 'off'
        display.appendChild(cell)
      })
    }
