extends grid

block content
  .container
      h1= title
      p Welcome to #{title}

  form(action='/message/manual', method='post')
    .container
      .row
        .col-md
          input(id='message',name='message',type='text',value='',placeholder='@')
        .col-md
          input(type='submit',value='Submit')
