extends layout

block content
  h1= title
  p Welcome to #{title}. Please enter your text input. Any line longer than 12 characters will be cut off.
  include flashes
  form(action='/message/text', method='post')
     textarea(rows='5',cols='50',id='message',name='message',type='text',value='',placeholder='Enter your text')
     br
     input(type='submit',value='Submit')
