extends layout

block content
  h1= title
  p Welcome to #{title}. Please enter your image URL for the road sign. Any pixel other than white or transparent will turn on its corresponding pixel on the road sign.
  include flashes
  form(action='/message/image', method='post')
    input(id='message', name='message', type='text', value='', placeholder='Enter your image URL')
    input(type='submit',value='Submit')
