extends layout

block content
  h1 #{title}
  p Welcome to #{title}. Please enter your text input. For readability, capital letters are recommended. Any line longer than 12 characters will be cut off.
  include flashes
  form(action='/message/text', method='post')
    .form-group
      label(for='line1') Line 1
      input.form-control.col-sm-3(id='line1', name='line1', type='text', columns='5' placeholder='Line 1')
    .form-group
      label(for='line2') Line 2
      input.form-control.col-sm-3(id='line2', name='line2', type='text', placeholder='Line 2 (optional)')
    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#modalConfirmation') Submit
    include modals.pug
