extends layout

block content
  h1 #{title}
  p Welcome to #{title}. Please enter your manual input for the road sign. It must be a binary string of length 2592.
  include flashes
  form(action='/message/manual', method='post')
    .form-group
      label(for='message') Message
      textarea.form-control(rows='5', id='message', name='message', placeholder='Enter your manual message')
    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#modalConfirmation') Submit
    include modals.pug
