body {
  padding: 5rem 0;
}

.navbar-dark .current-mode {
  color: #fff;
}

#confirmation .modal-dialog {
  max-width: 1000px;
}

#preview {
  margin-top: 20px;
}

#confirmation-display {
  width: 960px;
  height: 270px;
  background-color: #333;
}

#preview-display {
  width: 960px;
  height: 270px;
  background-color: #333;
}

.on {
  float: left;
  width: 10px;
  height: 10px;
  background-color: #FF6600;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

.off {
  float: left;
  width: 10px;
  height: 10px;
  background-color: #333;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}